---
layout: default
title: Managing Vocations
description: 
---

<div class="margin-center-90">
  {% include page-heading.html heading="Managing Vocations" %}

  <p class="py-3">
    You can change your vocation in the Relay Station District (Inside Location) and change your vocation at the NPC Archibald.
  </p>

  <p class="py-3">
    Vocations can be switched freely. In the late game you will be leveling them all to share their augments. 
    You gain job points by leveling them up. These are infinite as you can gain more by doing endgame dungeons (Extreme Missions) 
  </p>

  {% include image.html src="npc-archibald.png" w="auto" h="auto" alt="NPC Archibald" %}

  {% include alert-info.html heading="Gamer Tip" content="I personally recommend to only level the skills/augments you like, because in the midgame you'll feel like you never have enough" %}

  <div class="py-3">
    Unlike in Dragon's Dogma, vocations are levelled up independently. Stat gains from one vocation will have no effect on other vocations. However, Augments from one vocation can still be equipped on another.
  </div>

  {% include page-heading.html heading="Vocations Overview" %}

  <div class="overflow-x-auto">
    <table>
      <thead>
        <tr>
          <th>Icon</th>
          <th>Vocation</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody class="align-cells-content-center">
        <tr>
          <td>{% include image.html class="shadow-none border-none" src="icon-job_fighter.png" w="auto" h="auto" %}</td>
          <td>
            {% include link.html class="underline" href="/vocations/fighter/" text="Fighter" %}
          </td>
          <td>Attacker</td>
          <td>A vocation that has balanced offence and defence. Armed with Sword and Shield.</td>
        </tr>
        <tr>
          <td>{% include image.html class="shadow-none border-none" src="icon-job_hunter.png" w="auto" h="auto" %}</td>
          <td><a class="underline" href="./skills/hunter/">Hunter</a></td>
          <td>Attacker</td>
          <td>A vocation that can deal precise damage from a distance. Armed with Bow and able to use special arrows.</td>
        </tr>
        <tr>
          <td>{% include image.html class="shadow-none border-none" src="icon-job_priest.png" w="auto" h="auto" %}</td>
          <td><a class="underline" href="./skills/priest/">Priest</a></td>
          <td>Support</td>
          <td>A vocation that supports the party with recovery and support magick. Armed with Staff.</td>
        </tr>
        <tr>
          <td>
            {% include image.html class="shadow-none border-none" src="icon-job_shieldsage.png" w="auto" h="auto" %}
          </td>
          <td><a class="underline" class="underline" href="./skills/shield_sage/">Shield Sage</a></td>
          <td>Tank</td>
          <td>A vocation that specializes in defence and limited elemental magick support, attracting enemy attention
            away from other party members. Armed with Greatshield.</td>
        </tr>
        <tr>
          <td>{% include image.html class="shadow-none border-none" src="icon-job_sorcerer.png" w="auto" h="auto" %}</td>
          <td><a class="underline" href="./skills/sorcerer/">Sorcerer</a></td>
          <td>Attacker</td>
          <td>A vocation that commands powerful arcane spells that inflict great damage. Armed with Archistaff.</td>
        </tr>
        <tr>
          <td>{% include image.html class="shadow-none border-none" src="icon-job_seeker.png" w="auto" h="auto" %}</td>
          <td><a class="underline" href="./skills/seeker">Seeker</a></td>
          <td>Attacker</td>
          <td>A vocation that possesses great speed and maneuverability both on ground and in the air. Armed with Daggers.</td>
        </tr>
        <tr>
          <td>{% include image.html class="shadow-none border-none" src="icon-job_earcher.png" w="auto" h="auto" %}
          </td>
          <td><a class="underline" href="./skills/element_archer/">Element Archer</a></td>
          <td>Support</td>
          <td>A vocation that can loose magickal bolts on the enemy and aid the party with recovery and support skills.
            Armed with Magick Bow.</td>
        </tr>
        <tr>
          <td>{% include image.html class="shadow-none border-none" src="icon-job_warrior.png" w="auto" h="auto" %}</td>
          <td><a class="underline" href="./skills/warrior">Warrior</a></td>
          <td>Attacker</td>
          <td>A vocation that can withstand and deliver great physical damage. Armed with Greatsword.</td>
        </tr>
        <tr>
          <td>
            {% include image.html class="shadow-none border-none" src="icon-job_alchemist.png" w="auto" h="auto" %}
          </td>
          <td><a class="underline" href="./skills/alchemist/">Alchemist</a></td>
          <td>Tank</td>
          <td>A vocation that uses the secret arts of alchemy to inflict damage and debilitations on the enemy. Armed
            with Magick Gauntlet.</td>
        </tr>
        <tr>
          <td>
            {% include image.html class="shadow-none border-none" src="spiritlancer.png" w="auto" h="auto" %}
          </td>
          <td><a class="underline" href="./skills/spirit_lancer/">Spirit Lancer</a></td>
          <td>Support</td>
          <td>A vocation that has both support and offensive capabilities. Armed with Spirit Lance.</td>
        </tr>
        <tr>
          <td>
            {% include image.html class="shadow-none border-none" src="highscepter.png" w="auto" h="auto" %}
          </td>
          <td><a class="underline" href="./skills/high_scepter/">High Scepter</a></td>
          <td>Attacker</td>
          <td>A vocation that dual-wields magick and sword. Armed with Magick Sword.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
