{% include page-heading.html heading = "Sample" %}

{% include card-with-image.html src = "sample-portrait.png" heading = "Overview" content = "CONTENT" %}

{% include card-section-start.html %}
<h2 class="text-2xl font-semibold mb-4">Key Characteristics</h2>
<ul class="list-disc list-inside space-y-2"></ul>
{% include card-section-end.html %}

{% include card-section-start.html %}
<h2 class="text-2xl font-semibold mb-4">Core Combat Mechanics</h2>
<ul class="list-disc list-inside space-y-2"></ul>
{% include card-section-end.html %}

{% include card-section-start.html %}
<h2 class="text-2xl font-semibold mb-4">Recommended Play Style</h2>
<ul class="list-disc list-inside space-y-2"></ul>
{% include card-section-end.html %}

========================================

{% include card-section-start.html %}
{% include card-section-header.html heading = "Pawn XP Distribution System" %}
{% include card-section-list-start.html %}
<li></li>
{% include card-section-list-end.html %}
{% include card-section-end.html %}