body{
  background: white !important;
}

.align-cells-content-center td{
  align-content: center;
}

.margin-center{
  margin: 0 auto;
  width: 80%;
}

.margin-center-90{
  margin: 0 auto;
  width: 90%;
}

#main_content_wrap{
  border: none !important;
}

.sidebar-group-option:checked + label svg {
  rotate: 90deg !important;
}