body{
  background: white !important;
}

.align-cells-content-center td{
  align-content: center;
}

.margin-center{
  margin: 0 auto;
  width: 80%;
}

.margin-center-90{
  margin: 0 auto;
  width: 90%;
}

#main_content_wrap{
  border: none !important;
}

.sidebar-group-option:checked + label svg {
  rotate: 90deg !important;
}

#sidebar a.active{
  font-weight: bold;
  text-decoration: dotted;
  color: #d97706 !important;
}

.shadow-right{
  box-shadow: -27px -35px 45px var(--tw-shadow-color) !important;
}